h1{
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 5rem;
    text-align: left;
    text-shadow:  -5px 10px 5px gray;
    letter-spacing: 0.5rem;
}