body{
    display: grid;
    justify-content: center;
    align-content: center;
    
    height: 500px;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li a{
    text-decoration: none;
    color: black;
    background: #c5c5c5;
    padding: 15px;
    border-radius: 10px;

    font-size: 30px;
}