h1,a{
    font-size: 24px;
    padding: 16px 32px;
}

h1{
 background: green; 
 padding: 10px;  
}

a{
    background: cadetblue;
    color: black;
    padding: 5px;
}


.rem{
    font-size: 2rem;
}


div{
    font-size: 100%;
}

.em{
    font-size: 2rem;
}
